<h1>Welcome to the finance tracker app</h1>

<p>This is an app created as a part of Udemy.com's "The Complete Ruby on Rails Developer Course"</p>
<p>If you're interested in learning to program, check it out! It's quite useful. Now for some Latin:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>